{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/Calendar.css">
{% endblock %}

{% block javascripts %}
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block body %}
    <p>click button below to go to the .csv file upload page</p>
    <button id="fileReadButton" onclick="window.location.href = '/upload_file'">Upload File</button>
{% endblock %}