{% extends 'home.html.twig' %}

{% block title %}Upload Page{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <p>click button below to read the .csv file</p>
    <button id="fileReadButton">Read File</button>
{% endblock %}